section .circle {
	width: 1em;
	height: 1em;
	margin-left: 5px;
	border-radius: 50%;
	border: 1px solid black;
}
section .circle-red {
	background-color: #e74c3c;
}
section .circle-yellow {
	background-color: #f1c40f;
}
section .circle-green {
	background-color: #2ecc71;
}
section .header-bar {
	display: flex;
	align-items: center;
	background-color: #828686;
	height: 40px;
}
section h1 {
	font-size: 1em;
	padding: 10px;
	margin: 0;
}

.box{
    border: solid 1px black;
    height: 150px;
    width: 150px;
    background-color: black;
}



.container1{
    border: solid 2px black;
    margin: 0;
    padding: 0%;
    height: 150px;
    color: white;
    display: flex;
    justify-content: flex-start;
}


.box1{
    margin-right: auto;
}

.container2{
    border: solid 2px black;
    height: 550px;
    margin: 0%;
    padding: 0%;
    color: white;
    display: flex;
    flex-direction: column;
}

.box4{
    margin: 0%;
}

.box5{
    align-self: center;
}

.box6{
    align-self: flex-end;
}

.container3{
    border: solid 2px black;
    height: 550px;
    margin: 0%;
    padding: 20px;
    display: flex;
    justify-content: center;
    color: white;

}

.box7{
    background-color: grey;
    width: 300px;
    height: 300px;
}

.box8{
    display: block;
    margin: auto;
    margin-top: 20%;
}

.container4{
    border: solid 2px black;
    height: 550px;
    position: relative;
    color: white;
}

.box10{
    background-color: grey;
    position: absolute;
    top: 60px;
    left: 60px;
}

.container5{
    border: solid 2px black;
    height: 550px;
    margin: 0%;
    padding: 0%;
    color: white;
    display: flex;
    flex-direction: column;
}

.box11{
    align-self: flex-end;
}
.box12{
    align-self: center;
}

.container6{
    border: solid 2px black;
    height: 550px;
    margin: 0%;
    padding: 0%;
    display: flex;
    color: white;
}

.box14{
    height: 250px;
    width: 500px;
    background-color: grey;
    margin-left: auto;
    margin-top: auto;
    position: relative;
    display: flex;
}

.box15{
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.box16{
    position: absolute;
    right: 0px;
}

.container7{
    border: solid 2px black;
    height: 550px;
    margin: 0%;
    padding: 0%;
    color: white;
    display: flex;
    flex-direction: column;
}

.box17{
    height: 300px;
    width: 300px;
    background-color: grey;
    position: relative;
}

.box18{
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.container8{
    border: solid 2px black;
    height: 550px;
    margin: 0%;
    padding: 0%;
    color: white;
    display: flex;
    flex-direction: column;
}

.box19{
    height: 300px;
    width: 300px;
    background-color: grey;
    position: relative;
}

.box20{
    position: absolute;
    right: 0px;
    top: 0px;
}

.container9{
    border: solid 2px black;
    height: 550px;
    margin: 0%;
    padding: 0%;
    color: white;
}

.box21{
    width: 250px;
    height: 450px;
    background-color: grey;
    position: relative

}

.box22{
    position: absolute;
    top: 0;
    left: 50px;
}

.box23{
    position: absolute;
    bottom: 0;
    left: 50px;
}

.container10{
    border: solid 2px black;
    height: 550px;
    margin: 0%;
    padding: 0%;
    color: white;
}

.box24{
    width: 450px;
    height: 250px;
    background-color: grey;
    margin-top: 50px;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}

.box25{
    position: absolute;
    margin-top: 50px;
    left: 50px;
}

.box26{
    position: absolute;
    margin-top: 50px;
    right: 50px;

}

.container11{
    border: solid 2px black;
    height: 550px;
    margin: 0%;
    padding: 0%;
    color: white;
}

.box27{
    width: 250px;
    height: 400px;
    background-color: grey;
    position: relative;
}

.box28{
    width: 200px;
    height: 250px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.box29{
    background-color: rgb(151, 149, 149);
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.container12{
    border: solid 2px black;
    height: 550px;
    margin: 0%;
    padding: 0%;
    color: white;
    position: relative;
}

.box30{
    width: 250px;
    height: 400px;
    background-color: grey;
}

.box31{
    width: 200px;
    height: 250px;
    position: absolute;
    left: 150px;
    top: 150px;
}

.box32{
    background-color: rgb(151, 149, 149);
    position: absolute;
    left: 100px;
    bottom: 75px;
}

.container13{
    border: solid 2px black;
    height: 550px;
    margin: 0%;
    padding: 0%;
    color: white;
    position: relative;
}

.box33{
    position: absolute;
    left: 0;
    top: 0;
}

.box34{
    position: absolute;
    left: 75px;
    top: 75px;
    background-color: grey;
}

.box35{
    position: absolute;
    left: 150px;
    top: 150px;
}

.box36{
    position: absolute;
    left: 225px;
    top: 225px;
    background-color: grey;
}

.box37{
    position: absolute;
    left: 300px;
    top: 300px;
}

.container14{
    border: solid 2px black;
    height: 550px;
    margin: 0%;
    padding: 0%;
    color: white;
    position: relative;
}

.box38{
    width: 300px;
    height: 300px;
    background-color: grey;
    position: absolute;
    top: 0;
    right: 0;
}

.box39{
    position: absolute;
    bottom: 0;
    left: 0;
}

.container15{
    border: solid 2px black;
    height: 550px;
    margin: 0%;
    padding: 0%;
    color: white;
}

.motherbox{
    width: 650px;
    height: 500px;
    position: relative;
}

.box40{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: grey;
}

.box41{
    position: absolute;
    top: 0;
    right: 0;
}

.box42{
    width: 300px;
    height: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: grey;
}

.box43{
    position: absolute;
    left: 0;
    bottom: 0;
}